.header-bg {
  background: white;
}

.header-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-conteudo h1 a {
  font-weight: 800;
  color: var(--color-v1);
}

.header-imgs {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0px 20px;
}

.header-conteudo input {
  width: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  background: #f2f2f2;
  position: relative;
}

.header-conteudo input::placeholder {
  font-size: 1rem;
}

.header-conteudo form {
  position: relative;
  align-items: center;
}

.header-conteudo form img {
  position: absolute;
  top: 11px;
  right: 10px;
}

@media (max-width: 750px) {
  .header-conteudo {
    grid-template-columns: 1fr;
  }
  .header-conteudo .header-imgs {
    grid-row: 1;
  }
  .header-conteudo h1 {
    grid-row: 1;
  }
  .header-conteudo form {
    width: 100%;
    grid-column: span 2;
    margin-top: 15px;
  }
}

@media (max-width: 330px) {
  .header-conteudo {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header-conteudo .header-imgs {
    grid-row: 2;
  }
  .header-imgs div {
    order: 2;
  }
  .header-conteudo h1 {
    margin-bottom: 15px;
  }
}
