.barra-bg {
  background: var(--color-v1);
  height: 100%;
}

.barra-conteudo {
  display: grid;
  justify-content: center;
}

.barra-conteudo ul {
  margin-top: 30px;
  color: var(--color-12);
}

.barra-conteudo li {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 8px;
  transition: 0.3s;
  align-items: center;
  justify-self: center;
}

.barra-conteudo li img {
  height: 100%;
  object-fit: cover;
}

.barra-conteudo li:hover {
  background: var(--color-12);
}

.barra-conteudo li a {
  color: var(--color-12);
  display: none;
}

.barra-conteudo li a.ativo {
  display: block;
}

[data-bar].animation {
  animation: showBar 0.5s forwards;
}

@keyframes showBar {
  from {
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.barra-conteudo li:hover a {
  color: var(--color-v1);
}

.barra-conteudo li + li {
  margin-top: 25px;
}

.barra-conteudo li a[class="responsivo"],
.barra-conteudo li a[class="responsivo"] {
  display: block;
}

@media (max-width: 920px) {
  .introducao {
    grid-column: 1;
  }
  .barra-conteudo {
    justify-content: initial;
  }
  .barra-conteudo ul {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .barra-conteudo li + li {
    margin-top: 0px;
  }
  .barra-conteudo li:hover {
    background: none;
    cursor: pointer;
  }
  .barra-conteudo li:hover a {
    color: none;
  }
  .barra-conteudo li a[id="responsivo"],
  .barra-conteudo li a[href="./index.html"] {
    display: block;
  }
}

@media (max-width: 670px) {
  .barra-conteudo ul {
    overflow-x: auto;
  }
  .barra-conteudo ul li {
    min-width: 70px;
  }
}
